<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Blog</title>
</head>
<body>
	<div>
		<h1><a href="/">My Blog</a></h1>
	</div>

	<div>
		<p>published: 22.07.2020 21:28</p>
		<h2><a href=""> My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quae, minima totam laborum! Reprehenderit neque nemo soluta aliquam dolorem! Facilis facere doloribus nostrum ipsam a et amet magnam earum maiores.</p>
	</div>
	
	<div>
		<p>published: 22.07.2020 21:30</p>
		<h2><a href=""> My second post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quae, minima totam laborum! Reprehenderit neque nemo soluta aliquam dolorem! Facilis facere doloribus nostrum ipsam a et amet magnam earum maiores.</p>
	</div>
</body>
</html>